.node {
  border: 2px solid var(--fg-color);
  border-radius: var(--node-radius);
  padding: var(--node-padding);
  min-width: calc(var(--node-width));
  max-width: 100%;
  /*height: fit-content;*/
}

.link-section {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.node-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.node-label-keychord-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 1rem;
}

.link-list {
  width: 100%;
  margin: 0;
}

.node-label {
  font-size: var(--header-font-size);
  text-align: center;
}
