#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.edit-btn-container {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.edit-btn-square {
  aspect-ratio: 1/1;
  min-width: 2rem;
}

.edit-btn-big {
  height: 2rem;
}

.user-input-span {
  margin-top: 2rem;
  min-height: 2rem;
  color: var(--accent-color);
  font-size: var(--link-font-size);
}

.link-preview-span {
  margin-bottom: 2rem;
  min-height: 2rem;
  color: var(--accent-color);
  font-size: var(--link-font-size);
}

.time-text {
  font-size: var(--clock-font-size);
}

.fill-text-input {
  width: 97.75%;
}

.long-text-input {
  width: 20rem;
}

.short-number-input {
  width: 4rem;
}

.keychord-hint {
  color: var(--fg-color);
  font-size: var(--keychord-font-size);
  align-self: flex-end;
}

.keychord-hint-match {
  color: var(--accent-color);
}

.fill-text-input {
  width: 95%;
}
