:root {
  font-family:
    Jetbrains Mono,
    monospace;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bg-color: #015234;
  --fg-color: #CA63A8;
  --accent-color: #FFFFFF;
  --text-color: #222222;

  --grid-size-x: 3;
  --grid-size-y: 3;

  --node-radius: 10px;
  --node-padding: 10px;
  --grid-gap: 10px;
  --node-width: 10px;

  --header-font-size: 24px;
  --link-font-size: 16px;
  --clock-font-size: 64px;
  --keychord-hint-size: 10px;
  --font-family: "Jetbrains Mono, monospace"
}

a {
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  text-align: left;
}

* {
  background-color: var(--bg-color)
}

a {
  color: var(--text-color)
}

a:hover {
  color: var(--accent-color)
}

button {
  border-radius: var(--node-radius);
  border: 2px solid var(--fg-color);
  font-family:
    Jetbrains Mono,
    monospace;
  font-size: var(--link-font-size)
}

button:hover {
  border-color: var(--accent-color);
  color: var(--accent-color)
}

button:focus,
button:focus-visible {
  outline: 4px auto var(--acc);
}

h1 {
  text-align: center;
  margin-bottom: 0;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

label {
  font-size: var(--link-font-size)
}

h1,
h2,
li,
td,
label,
button,
span {
  color: var(--text-color)
}

input,
select {
  font-size: var(--link-font-size);
  border: 2px solid var(--fg-color);
  color: var(--text-color)
}

td {
  padding: 4px;
}
